html {
    background-color: #282c34;
}

.App {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.App-header {
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-logo {
    height: 7rem;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-main {
    display: flex;
    width: 100%;
}

.App-main > * {
    width: 50%;
}

.twitter-tweet 
{
    margin: 0 auto !important;
    max-width: 40vw !important;
}

.tweet-chart-container {
    display: flex;
    justify-content: center;
}

.tweet-chart {
    background-color: white;
    border: 1px solid #cfd9dd;
    border-radius: 15px;
    width: 40vw;
    height: 30vw;
}
